
/*.img-bg{
  background: url('/static/images/background.png');
  background-size: 100% auto;
  height: 100px;
  width: 100px;
}*/
body {
	font-family: 'Montserrat', sans-serif;
	background: url('/static/images/background.png');
	background-size:cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	min-height:100vh;
	color: white;
}

h1 {
	font-size: 60px;
    text-align: center;
	font-weight: 600;
}

a {
    color:#FFF;
}

a:hover {
    color:#FFF;
}

.main-head-wrap {
	padding: 40px 32px 65px;
}

.header {
    border-bottom: 5px solid #1fb2d6fa;
}

.main__content {
	width: 100%;
	max-width: 3000px;
	margin: 0 auto;
	padding: 45px 0;
}

.main__tiles
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.button {
	width: 100%;
	max-width: 150px;
	line-height: 40px;
	height: 40px;
	text-align: center;
	margin: 24px auto 0 auto;
	color: #FFF;
    background: none;
    border: none;
    border: 2px solid #FFF;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
	transition: .5s;
}

.button:hover {
	background-color: #FFF;
	color: #00304f;
}

.option {
    color: #00304f;
}

.select {
	width: 100%;
	line-height: 40px;
	height: 40px;
	text-align: center;
	margin: 24px auto 0 auto;
	color: #FFF;
    background: none;
    border: none;
    border: 2px solid #FFF;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
	transition: .5s;
}

.select:hover {
	background-color: #FFF;
	color: #00304f;
}

.tablink {
	width: 25vw;
	max-width: 250px;
	height: 8vh;
	max-height: 40px;
	margin: 7px auto 5px 7px;
	color: #FFF;
    background: none;
    border: 2px solid #FFF;
    border-radius: 6px;
    cursor: pointer;
	transition: .5s;
	overflow-y: hidden;
}

.tablink-text {
    max-width: 98%;
    max-height: 95%;
    margin: auto;
	text-align: center;
	vertical-align: middle;
    font-weight: 800;
    font-size: 2.4vh;
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tablink:hover {
	background-color: #FFF;
	color: #00304f;
}

.covid-plot {
    width:90%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
}

.t11 {
    grid-column: 1/3;
    grid-row: 1;
}

.t12 {
    grid-column: 3/5;
    grid-row: 1;
}

.t13 {
    grid-column: 5/7;
    grid-row: 1;
}

.t14 {
    grid-column: 7/9;
    grid-row: 1;
}

.t15 {
    grid-column: 9/11;
    grid-row: 1;
}

.t16 {
    grid-column: 11/13;
    grid-row: 1;
}

.t21 {
    text-align: center;
    grid-column: 1 / 5;
    grid-row: 2;
}

.t22 {
    text-align: center;
    grid-column: 5 / 9;
    grid-row: 2;
}

.t23 {
    text-align: center;
    grid-column: 9 / 13;
    grid-row: 2;
}

.t31 {
    text-align: center;
    grid-column: 2 / 7;
    grid-row: 3;
    font-size: 27px;
    font-weight: 500;
}

.t32 {
    text-align: center;
    grid-column: 7 / 12;
    grid-row: 3;
    font-size: 20px;
    font-weight: 400;
}

