<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<form method="post" style="text-align: center;" action="{% url 'covid_plot' %}">
    {% csrf_token %}
    <div class="wrapper">
      <div class="t11">
          <select name="country" id="country1" class="select">
          {% for country1 in countries %}
            <option class="option" value="{{ country1 }}" {% if selected_country == country1 %} selected {%endif%}>
              {{ country1 }}
            </option>
          {% endfor %}
          </select>
          Country
      </div>

      <div class="t12">
          <select name="another_country" id="country2" class="select">
          {% for country2 in countries %}
            <option class="option" value="{{ country2 }}" {% if selected_another_country == country2 %} selected {%endif%}>
              {{ country2 }}
            </option>
          {% endfor %}
          </select>
          Additional country
      </div>

      <div class="t13">
          <select name="measurement" id="measurement" class="select">
          {% for measurement in measurements %}
            <option class="option" value="{{ measurement }}" {% if selected_measurement == measurement %} selected {%endif%}>
              {{ measurement }}
            </option>
          {% endfor %}
          </select>
          Measurement
      </div>

      <div class="t14">
          <select name="time" id="time" class="select">
          {% for time in times %}
            <option class="option" value="{{ time }}" {% if selected_time == time %} selected {%endif%}>
              {{ time }}
            </option>
          {% endfor %}
          </select>
          Time range
      </div>

      <div class="t15">
          <select name="time" id="shares" class="select">
          {% for time in times %}
            <option class="option" value="{{ time }}" {% if selected_time == time %} selected {%endif%}>
              {{ time }}
            </option>
          {% endfor %}
          </select>
          Shares
      </div>

      <div class="t16">
        <input class="button" type="submit" value="Submit"/>
      </div>

      <div class="t21">
        <img class="covid-plot" src="/static/images/covid1.png"/>
      </div>

      <div class="t22">
        <img class="covid-plot" src="/static/images/covid2.png"/>
      </div>

      <div class="t23">
        <img class="covid-plot" src="/static/images/covid3.png"/>
      </div>

      <div class="t31">
        <img class="covid-plot" src="/static/images/covid4.png"/>
      </div>

      <div class="t32">
        <img class="covid-plot"  src="/static/images/covid4.png"/>
      </div>

    </div>
</form>
{% endblock %}
